In [7]:
print("hello world")

hello world

In [9]:
1+2

3

In [12]:
3/2.4

1.25

In [14]:
3*9

27

In [15]:
a = 1
b = 2
a+b

3

In [16]:
a = "python"
print(a)

python

In [17]:
a = "python"
a

'python'

In [19]:
a = 3
if a > 1:
    print("a 는 1보다 큽니다. a = ", a)

a 는 1보다 큽니다. a =  3

In [20]:
for a in [1, 2, 3]:
    print(a)

1
2
3

In [23]:
i = 0
while i < 3:
    print(i)
    i = i + 1

0
1
2

In [24]:
def add(a, b):
    return a + b
add(5, 10)

15

In [26]:
# 정수형
a = 123
a = -123
a = 0

In [27]:
# 실수형
a = 1.2
a = -3.45

In [33]:
a = 4.24E10
b = 4.24e-10
a, b

(42400000000.0, 4.24e-10)

In [35]:
#8진수
a = 0o177
print(a)

127

In [36]:
#16진수
a = 0x8ff
b = 0xABC
print(a, b)

2303 2748

In [39]:
#사칙연산
a = 3
b = 4
print(a + b, a - b, a / b, a * b)

7 -1 0.75 12

In [40]:
a = 3
b = 4
a**b

81

In [43]:
# % // 연산자
print(7%3, 3%7)
print( 7/4, 7//4)

1 3
1.75 1

In [44]:
head = "python"
tail = " is fun!"
head + tail

'python is fun!'

In [46]:
a = "python"
a * 2

'pythonpython'

In [47]:
print("="*50)
print("My program")
print("="*50)

==================================================
My program
==================================================

In [48]:
a = "Life is too short"
len(a)

17

In [51]:
a = "Life is too short, You need Python"
a[3] , a[-1], a[-0]

('e', 'n', 'L')

In [57]:
for i in [0, 1, 2, 3]:print(a[i])

L
i
f
e

In [59]:
a[0:4], a[19:]

('Life', 'You need Python')

In [60]:
a = "20230824Rainy"
date = a[0:8]
weather = a[8:]
date, weather

('20230824', 'Rainy')

In [61]:
year = a[0:4]
date = a[4:8]
weather = a[8:]
year, date, weather

('2023', '0824', 'Rainy')

In [65]:
"I eat %d apples." %3, "I eat %s apples." %"five"

('I eat 3 apples.', 'I eat five apples.')

In [66]:
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

In [68]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days" %(number, day)

'I ate 10 apples. so I was sick for three days'

In [71]:
####이스케이프문자(개행문자)####포맷코드(일체)####외우기

In [72]:
"%10s" % "hi"

'        hi'

In [74]:
"%-10sjane." % "hi"

'hi        jane.'

In [76]:
a = "pithon"
a = a[0:1] + 'y' + a[2:]
print(a)

python

In [77]:
"%0.4f" %3.141592

'3.1416'

In [78]:
"%10.4f" %3.141592

'    3.1416'

In [79]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [80]:
"I eat {0} apples".format("five")

'I eat five apples'

In [81]:
number = 3
"I eat {0} apples.".format(number)

'I eat 3 apples.'

In [82]:
number = 10
day = "three"
"i eat {0} apple. so I was sick for {1} days".format(day, number)

'i eat three apple. so I was sick for 10 days'

In [86]:
"I ate {number} apple. so I was sick for {day} days".format(number = "three", day = 10)

'I ate three apple. so I was sick for 10 days'

In [87]:
"I ate {0} apples. so I was sick for {day} days".format("three", day = 10)

'I ate three apples. so I was sick for 10 days'

In [88]:
"{0:<10}".format("hi!")

'hi!       '

In [89]:
"{0:>10}".format("hi!")

'       hi!'

In [90]:
"{0:^10}".format("hi!")

'   hi!    '

In [91]:
"{0:=<10}".format("hi!")

'hi!======='

In [92]:
"{0:=>10}".format("hi!")

'=======hi!'

In [94]:
"{0:=^10}".format("hi")

'====hi===='

In [95]:
y = 3.141592
"{0:0.4f}".format(y)

'3.1416'

In [96]:
"{0:10.4f}".format(y)

'    3.1416'

In [97]:
"{{and}}".format()

'{and}'

In [101]:
name = "홍길동"
age = 27
f"나의 이름은 {name} 입니다. 나이는 {age} 입니다."

'나의 이름은 홍길동 입니다. 나이는 27 입니다.'

In [104]:
f"나는 내년이면 {age + 1}살입니다."

'나는 내년이면 28살입니다.'

In [110]:
d = {'name' : '윤여록', 'age' : 27}
f"나의 이름은 {d['name']} 입니다. 나이는 {d['age']}입니다."

'나의 이름은 윤여록 입니다. 나이는 27입니다.'

In [ ]:
hobby를 가지고 b 인덱스를 있는만큼 찾아라 for문사용 금지
(find사용)

In [111]:
"hobby".find('b')

2

In [112]:
",".join('hobby')

'h,o,b,b,y'

In [114]:
",".join('hobby').split(',')

['h', 'o', 'b', 'b', 'y']

In [117]:
a = "hobby".find('b')
a

2

In [ ]:
",".join('hobby').split(',')