In [1]:
import pandas as pd

In [28]:
data = pd.read_csv('윤여록_수집.csv', low_memory=False)
data

,big_title,time,title,context
0,과학,2023-09-13,[과학기술이 미래다] 〈102〉국내 첫 퍼스널 컴퓨터 경진대회,1984년 4월 22일. 제1회 퍼스널 컴퓨터 경진대회가 이날 오전 9시 서울 송파...
1,과학,2023-09-13,나노·소재 성과공유회,나노·소재분야 R&D 정책 및 우수 연구성과를 발표하고 성과물을 공유하는 나노·소재...
2,과학,2023-09-12,[알림] 테크비즈코리아 2023,전자신문사가 올해에도 우리 연구 현장의 사업화 유망기술을 민간기업과 투자자에 소개하...
3,과학,2023-09-12,드럼치는 로봇 '모펫' 입니다,국내 연구진이 음악 빅데이터 기반 인공지능(AI)을 통해 인간과 상호작용하며 합주 ...
4,과학,2023-09-11,드럼치는 로봇 '모펫' 입니다,국내 연구진이 음악 빅데이터 기반 인공지능(AI)을 통해 인간과 상호작용하며 합주 ...
...,...,...,...,...
1517,에너지,2023-03-15,"이젠, 로봇이 전기차 충전",국내 무공해차(전기·수소차) 트렌드를 볼 수 있는 'EV 트렌드 코리아 2023'이...
1518,에너지,2023-03-15,인터배터리 2023 차세대 전기차 선보인 LG에너지솔루션,국내 최대 배터리 전시회인 '인터배터리 2023'이 15일 서울 삼성동 코엑스에서 ...
1519,에너지,2023-03-15,인터배터리 2023 LS일렉트릭,국내 최대 배터리 전시회인 '인터배터리 2023'이 15일 서울 삼성동 코엑스에서 ...
1520,에너지,2023-03-15,인터배터리 2023 삼성SDI,국내 최대 배터리 전시회인 '인터배터리 2023'이 15일 서울 삼성동 코엑스에서 ...
1521,에너지,2023-03-15,"인터배터리 2023, 볼보 대형 전기트럭 첫 공개",국내 최대 배터리 전시회인 '인터배터리 2023'이 15일 서울 삼성동 코엑스에서 ...

In [5]:
data.describe()

,big_title,time,title,context
count,1522,1522,1522,1522
unique,2,159,1498,1473
top,에너지,2023-05-23,전력거래소 방문한 이창양 산업통상자원부 장관,31일 서울 밤하늘에 '슈퍼 블루문'이 떠오르고 있다. 한 달 중 두 번째 뜬 보름...
freq,1208,27,5,6

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1522 entries, 0 to 1521
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   big_title  1522 non-null   object
 1   time       1522 non-null   object
 2   title      1522 non-null   object
 3   context    1522 non-null   object
dtypes: object(4)
memory usage: 47.7+ KB

In [22]:
data['time'] = pd.to_datetime(data['time'])

In [25]:
data['time']

0      2023-09-13
1      2023-09-13
2      2023-09-12
3      2023-09-12
4      2023-09-11
          ...
1517   2023-03-15
1518   2023-03-15
1519   2023-03-15
1520   2023-03-15
1521   2023-03-15
Name: time, Length: 1522, dtype: datetime64[ns]

In [67]:
data1 = data[data['context'].str.contains('전기')] #전기 문자열 포함하는 행 추출
data1

,big_title,time,title,context
0,과학,2023-09-13,[과학기술이 미래다] 〈102〉국내 첫 퍼스널 컴퓨터 경진대회,1984년 4월 22일. 제1회 퍼스널 컴퓨터 경진대회가 이날 오전 9시 서울 송파...
2,과학,2023-09-12,[알림] 테크비즈코리아 2023,전자신문사가 올해에도 우리 연구 현장의 사업화 유망기술을 민간기업과 투자자에 소개하...
17,과학,2023-08-23,[과학기술이 미래다] 〈100〉4M D램 초대형 국가 R&D 프로젝트 가동,“소장은 책임지고 이 과제를 완수하시오.” 1986년 8월 22일 오전 전두환 대통...
19,과학,2023-08-22,"에너지의 날, 국립과천과학관 방문한 어린이","제20회 에너지의 날을 맞아 재생에너지, 탄소중립 등 관련 지식을 습득할 수 있는 ..."
22,과학,2023-08-22,과학 콘텐츠로 배우는 에너지,"제20회 에너지의 날을 맞아 재생에너지, 탄소중립 등 관련 지식을 습득할 수 있는 ..."
...,...,...,...,...
1517,에너지,2023-03-15,"이젠, 로봇이 전기차 충전",국내 무공해차(전기·수소차) 트렌드를 볼 수 있는 'EV 트렌드 코리아 2023'이...
1518,에너지,2023-03-15,인터배터리 2023 차세대 전기차 선보인 LG에너지솔루션,국내 최대 배터리 전시회인 '인터배터리 2023'이 15일 서울 삼성동 코엑스에서 ...
1519,에너지,2023-03-15,인터배터리 2023 LS일렉트릭,국내 최대 배터리 전시회인 '인터배터리 2023'이 15일 서울 삼성동 코엑스에서 ...
1520,에너지,2023-03-15,인터배터리 2023 삼성SDI,국내 최대 배터리 전시회인 '인터배터리 2023'이 15일 서울 삼성동 코엑스에서 ...
1521,에너지,2023-03-15,"인터배터리 2023, 볼보 대형 전기트럭 첫 공개",국내 최대 배터리 전시회인 '인터배터리 2023'이 15일 서울 삼성동 코엑스에서 ...

In [51]:
data1.insert(4, '전기', data1['context'].count('전기'))

C:\Users\user\AppData\Local\Temp\ipykernel_18716\3004939640.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. ser.count(level=1) should use ser.groupby(level=1).count().
  data1.insert(4, '전기', data1['context'].count('전기'))

ValueError: Series.count level is only valid with a MultiIndex

In [64]:
data1['context'][0].count('전기')

3

In [73]:
data['big_title'][314]

'에너지'

In [ ]:
new_data = data.context.value_counts.reset_index()
new_data