In [13]:
import pandas as pd
import numpy as np

In [5]:
sample = pd.read_csv('sample.csv', low_memory = False)

In [6]:
sample

    Unnamed: 0   outlook  temp humidity  windy play
0            0  overcast   hot     high  False  yes
1            1  overcast  cool   normal   True  yes
2            2  overcast  mild     high   True  yes
3            3  overcast   hot   normal  False  yes
4            4     rainy  mild     high  False  yes
5            5     rainy  cool   normal  False  yes
6            6     rainy  cool   normal   True   no
7            7     rainy  mild   normal  False  yes
8            8     rainy  mild     high   True   no
9            9     sunny   hot     high  False   no
10          10     sunny   hot     high   True   no
11          11     sunny  mild     high  False   no
12          12     sunny  cool   normal  False  yes
13          13     sunny  mild   normal   True  yes

In [7]:
sample = sample.iloc[:, 1:]

In [8]:
sample

     outlook  temp humidity  windy play
0   overcast   hot     high  False  yes
1   overcast  cool   normal   True  yes
2   overcast  mild     high   True  yes
3   overcast   hot   normal  False  yes
4      rainy  mild     high  False  yes
5      rainy  cool   normal  False  yes
6      rainy  cool   normal   True   no
7      rainy  mild   normal  False  yes
8      rainy  mild     high   True   no
9      sunny   hot     high  False   no
10     sunny   hot     high   True   no
11     sunny  mild     high  False   no
12     sunny  cool   normal  False  yes
13     sunny  mild   normal   True  yes

In [10]:
len(sample.loc[sample.play == 'yes', :]) / len(sample)

0.6428571428571429

In [11]:
len(sample.loc[sample.play == 'no', :]) / len(sample)

0.35714285714285715

In [15]:
pk_yes = np.sum(sample.play == 'yes') / len(sample)
pk_no = np.sum(sample.play == 'no') / len(sample)

In [17]:
-(pk_yes*np.log2(pk_yes) + pk_no*np.log2(pk_no))

0.9402859586706311

In [21]:
overcast = sample.loc[sample.outlook == 'overcast', :]

In [22]:
def entropy(x):
    px = np.unique(x, return_counts=True)[1]/len(x)
    entropy_ = -np.sum(px*np.log2(px))
    return entropy_

In [23]:
entropy(sample.play)

0.9402859586706311

In [24]:
entropy([1, 1, 1, 2, 2, 2, 2, 2])

0.954434002924965

In [25]:

#y = play
total = entropy(sample.play)
#x = sample 독립변수

0.9402859586706311

In [27]:
vals, counts = np.unique(sample.outlook,return_counts=True)

In [36]:
a1 = counts[0]/len(sample)*entropy(sample.loc[sample.outlook == vals[0], 'play'])

In [37]:
a2 = counts[1]/len(sample)*entropy(sample.loc[sample.outlook == vals[1], 'play'])

In [38]:
a3 = counts[2]/len(sample)*entropy(sample.loc[sample.outlook == vals[2], 'play'])

In [39]:
a1 + a2 + a3

0.6935361388961918

In [40]:
total

0.9402859586706311

In [41]:
total - (a1 + a2 + a3)

0.24674981977443933

In [47]:
def info_gain(data, x, y):
    total = entropy(data[y])
    vals, counts = np.unique(data[x], return_counts=True)
    gain = [ count/len(data)*entropy(data.loc[data[x] == val, y]) for val, count in zip(vals, counts) ]
    return total - np.sum(gain)

In [48]:
info_gain(sample, 'outlook', 'play')

0.24674981977443933